<ion-view title="Forgot Password" id="forgotPassword"  class="cursorPointer"  hide-back-button="true" hide-nav-bar="true">
  <ion-header-bar class="bar-stable bar bar-header" align-title="center">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ion-navicon hide"></button>
      </span>
    </div>
    <div class="title title-center header-item" style="transform: translate3d(0px, 0px, 0px); left: 31px; right: 31px;">
      Forgot Password
    </div>
  </ion-header-bar>

  <ion-content padding="true" scroll="false">
    <form id="forgotPasswordForm" name = "forgotPasswordForm" ng-submit = "sendMail($scope.email,forgotPasswordForm)" novalidate>

      <email-directive  field="baseForm.fields[0]"
                        form-model="forgotPasswordForm"
                        field-model="$scope.email"></email-directive>

    <button class="resetButton button button-stable button-block icon-right ion-android-arrow-forward" type="submit">NEXT</button>
    </form>
    <div class="accountText">
      <h5>Don't have an account?
        <a style="color:#4a87ee;text-decoration: none;" ng-click = "goToSignUp()"> Sign up</a>
      </h5>
    </div>
  </ion-content>


</ion-view>
