
<ion-view title="Home" hide-back-button="true" class=" title-center wrapper container cursorPointer"align-title="center">

  <ion-content padding="true" class = "has-header" scroll="false">
    <div class="textMargin" style="color:#030e26">
      <h3 class="textColor">
        <center>Your account is under process </center>
      </h3>
      <div class="spacer" style="height: 5%;"></div>
      <span class="step2Text">Your application is in process. The verification process could take a couple of days to a week's time. We look forward to be working with you.</span>
    </div>
    <div class="spacer" style="height: 5%;"></div>
    <div id="signUpComplete" style="text-align:center;" class="show-list-numbers-and-dots textMargin">
      <p class="step2Text">We will notify you once your application is approved. Explore the application in the meantime.</p>
    </div>
  </ion-content>
</ion-view>

