<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" class="container cursorPointer">
  <ion-content padding="true" class="loginPage" scroll="false">
    <div class="spacer" style="height: 2%;"></div>
    <div id="loginDiv">
      <p style="color:#030E26;font-size:250%;" class="text">Login</p>
    </div>
    <div class="spacer" style="height: 5%;"></div>
    <form id="loginForm" name = "loginForm" ng-submit = "login($scope.loginDetails,loginForm)" novalidate>

      <phone-directive  field="baseForm.fields[0]"
                        form-model="loginForm"
                        field-model="$scope.loginDetails.phone"></phone-directive>

      <password-directive  field="baseForm.fields[1]"
                           form-model="loginForm"
                           field-model="$scope.loginDetails.password"></password-directive>

      <a class="button-stable button-clear forgotPassword" ng-click = "goToForgotPasswd()">Forgot Password?</a>
    <div class="spacer" style="height: 6%;"></div>
      <div id="login-container1">
        <button  class="button button-stable allButtons floatLeft" type="submit">Login</button>
        <a class="button button-stable allButtons marginLeft floatRight" ng-click = "signUp()">Sign up</a>
      </div>
    </form>

  </ion-content>
</ion-view>
