
<ion-view title="Launch screen" hide-nav-bar="true" style="background-color:#030E26;" class="cursorPointer">
  <ion-content padding="true" class=" manual-remove-top-padding" has-header="false" scroll="false">
    <div class="launchPage">
      <a >
        <img src="img/concishare_logo.jpg" class="image" ng-click = "goToLogin()">
      </a>
      <div class="spacer"></div>
      <div id="launchScreenDiv" class="show-list-numbers-and-dots">
        <p style="color:#FFD700;" class="text">Push icon to open app</p>
      </div>
    </div>

  </ion-content>
</ion-view>
