<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right" style = "color: white">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-content>
      <ion-list>
        <ion-item class="item-avatar cursorPointer" ui-sref="createYourProfile()" menu-close="">
          <img src="img/sample_profile.png">
          <h2>Allen smith</h2>
        </ion-item>
        <ion-item   menu-close="" class="cursorPointer" >Home</ion-item>
        <ion-item menu-close="" class="cursorPointer" >Earnings</ion-item>
        <ion-item  menu-close="" class="cursorPointer" >Your Orders</ion-item>
      </ion-list>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
