<ion-view title="Reset Password" id="resetPasswordPage"  hide-back-button="true" hide-nav-bar="true">
  <ion-header-bar class="bar-stable bar bar-header" align-title="center">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ion-navicon hide"></button>
      </span>
    </div>
    <div class="title title-center header-item" style="transform: translate3d(0px, 0px, 0px); left: 31px; right: 31px;">
      Reset Password
    </div>
  </ion-header-bar>
  <ion-content padding="true" scroll="false">
    <center>
      <h4 style="margin-top: 45%;color:#030E26"> We have mailed you a temporary password on
        <br>
        <a style="color:#4a87ee">kiran.bodakhe@synerzip.com</a>
        <br>Please use it to login.</h4>
    </center>
    <button id="resetPasswordButton" class="resetPasswordButton button button-stable button-block" ng-click = "goToLogin()">Go To Login Page</button>
  </ion-content>
</ion-view>
