<ion-view title="Signup" id="signupPage" class="cursorPointer" hide-back-button="true" hide-nav-bar="true">
  <ion-header-bar class="bar-stable bar bar-header" align-title="center">
    <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
          <button class="button button-icon button-clear ion-navicon hide"></button>
      </span>
    </div>
    <div class="title title-center header-item" style="transform: translate3d(0px, 0px, 0px); left: 31px; right: 31px;">
      Sign Up
    </div>
  </ion-header-bar>
  <ion-content padding="true">

    <form id="signupStep1" name="signupStep1" novalidate ng-submit="nextPage(signupStep1)" ng-show="personalDetailsForm">
      <div id="signupStep1Div" style="text-align:center;" class="show-list-numbers-and-dots">
        <p class="step1Text">Step 1 : Enter Your Personal Information</p>
      </div>
      <ion-list>


        <string-directive field="baseForm.fields[0]"
                          form-model="signupStep1"
                          field-model="$scope.details.name" ></string-directive>

        <email-directive  field="baseForm.fields[2]"
                          form-model="signupStep1"
                          field-model="$scope.details.email"></email-directive>

        <phone-directive  field="baseForm.fields[1]"
                          form-model="signupStep1"
                          field-model="$scope.details.phoneNumber"></phone-directive>

        <password-directive  field="baseForm.fields[3]"
                             form-model="signupStep1"
                             field-model="$scope.details.password"></password-directive>

        <address1-directive  field="baseForm.fields[4]"
                             form-model="signupStep1"
                             field-model="$scope.details.address1"></address1-directive>

        <address1-directive  field="baseForm.fields[5]"
                             form-model="signupStep1"
                             field-model="$scope.details.address2"></address1-directive>

        <string-directive      field="baseForm.fields[6]"
                             form-model="signupStep1"
                             field-model="$scope.details.city"></string-directive>

        <zip-directive      field="baseForm.fields[7]"
                            form-model="signupStep1"
                            field-model="$scope.details.zip"></zip-directive>

        <string-directive      field="baseForm.fields[8]"
                            form-model="signupStep1"
                            field-model="$scope.details.state"></string-directive>

        <string-directive  field="baseForm.fields[9]"
                            form-model="signupStep1"
                            field-model="$scope.details.country"></string-directive>

        <experience-directive  field="baseForm.fields[10]"
                            form-model="signupStep1"
                            field-model="$scope.details.yearsOfService"></experience-directive>

        <description-directive  field="baseForm.fields[11]"
                               form-model="signupStep1"
                               field-model="$scope.details.description"></description-directive>
      </ion-list>
      <button type="submit" class="button button-stable nextButton">Next</button>
    </form>


    <form id="signupStep2" class="list" novalidate ng-show="cardDetailsForm">

      <div id="signupStep2Div" style="text-align:center;" class="show-list-numbers-and-dots">
        <div class="spacer" style= "height: 10%;"></div>

        <p class="step1Text">Step 2: Enter Your Card Details</p>
      </div>

      <div style="color:#030e26">
        <span class="heading">
          <b>
            <center class="boldText">Your setup is almost complete!</center>
          </b>
        </span>
        <br>
        <span class="step2Text">
          <center>You will be charged a small fee for background verification.</center>
        </span>
        <span class="step2Text">
          <center>This would be a one-time charge only.</center>
        </span>
        <span class="step2Text">
          <center>Please enter your card details to proceed further.</center>
        </span>
        <br>
      </div>
      <div  class="show-list-numbers-and-dots paddingPage">
        <p class="cardText">Card Number</p>
      </div>
      <label  class=" inputBorder button button-light button-block button-outline icon-left ion-card ic-selected">

        <input type="number" placeholder="">

      </label>
      <label  class="inputFieldCard button button-light button-block button-outline ic-selected">

        <input style="padding-top:5%" type="text" placeholder="NAME">

      </label>
      <div class="spacer" style=" height: 3%;"></div>
      <label class="item item-input rightAlign inputWidth inputFieldCard paddingPage" >

        <input type="number"  style = "text-align:center" placeholder="CVV">
      </label>
      <label class="item item-input alignLeft inputFieldCard inputWidth paddingPage" style="margin-bottom: 3%">

        <input type="text" style = "text-align:center;" placeholder="MM/YY">
      </label>

      <center style="margin-bottom: 3%">
        <a style="text-align: center;color:#4a87ee" ng-click = "showPrompt()"  ng-show="enterCode" id = "code" > I have a referral code</a>
        <a style="text-align: center;color:#4a87ee" ng-show="!enterCode" ng-click="showPrompt()"> My referral code:{{referralCode}}</a>

      </center>

      <button class="button button-stable nextButton" ng-click = "addProvider($scope.details)">Submit</button>

    </form>
  </ion-content>

</ion-view>
