<label class="inputFields"
       id="string-{{field.fieldId}}"
       ng-class="{'error-label' : (formModel.$submitted && formModel[field.fieldId].$invalid)}">
  <textarea class="field-input-string"
         name="{{field.fieldId}}"
         type="text"
         placeholder="{{field.name}}"
         ng-model="fieldModel"
         ng-model-options="field.options"
         ng-pattern="field.pattern" rows="5"
         ng-required="{{field.required}}"

            autocomplete="off" autocorrect="off" autocapitalize="on" spellcheck="false"></textarea>
</label>

