.enterMail {
  border: 1px solid #FFD700 ;
  width: 98.8% ;
  border-radius: 3px ;
  padding: 2.5% 3%;
  margin-bottom: 2%;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
  height: 10%;
}
.resetButton {
  background: #030e26 !important;
  font-weight:500;
  color:#FFD700 !important; ;
  text-align:left ;
  border-radius: 3px;
}
.accountText{
  margin-top:5%;
  margin-left:0;
  color:#030e26
}

