.loginPage {
  margin-top: 40%;
  position: absolute;
}
.wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 5% 0;
  height: 100%;
  text-align: center;
  overflow: auto;
}
.cursorPointer {
  cursor: pointer;
}
.bar.bar-balanced {
  border-color: black;
  background-color: #030e26;
  background-image: linear-gradient(0deg, black, black 50%, transparent 50%);
  color: #fff;
}
.username {
  border: 1px solid #FFD700 !important;
  width: 96% !important;
  border-radius: 3px !important;
  padding: 2.5% 3%;
  margin-left: 2%  ;
  margin-right: 2%;
  margin-bottom: 2%;
  display: block;
  text-align: center;
  font-size: 150%;
  color: white;
  font-weight: 300;
  height: 10%;
}
.allButtons {
  outline: 0;
  border-radius: 3px;
  width: 46.5%;
  font-size: 150%;
  height: 20% !important;
  background: #030e26 !important;
  font-weight: 400;
  color: #FFD700 !important;
  text-align: center !important;
}
.text{
  text-align: center;
}
.forgotPassword{
  color:#FFD700 !important;
  font-size:100%;
  text-align:right !important;
  float: right !important;
  text-decoration: none !important;
}
.floatLeft{
  float:left;
  margin-top: 5.5%;
}
.floatRight{
  float:right;
}
