*{
  font-family: 'Open Sans', sans-serif;
}
.bar.bar-stable {
  background-color: #030e26 !important;
  border-color: #030e26 !important;
}
.back-button {
  color: #ffffff !important;
}
.title {
  color: #ffffff !important;
  text-align: center !important;
}
.buttons-right{
  color: #ffffff !important;
}
