.promoButtons {
  border: 1px solid;
  border-color: black;
  border-radius: 3px;
  width: 44%;
  font-size: 150%;
  height: 15%;
}
.marginLeft {
  margin-left: 5%;
}
.inputField {
  border-bottom: 2px solid ;
  border-color: #030e26;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-left-color: #ffffff;
}
.rewardText {
  margin-left: 5% ;
  margin-right: 5% ;
}
