.inputFields{
  border: 1px solid #FFD700;
  width: 100%;
  border-radius: 3px;
  padding: 2.5% 3%;
  margin-bottom: 2%;
  display: block;
  text-align: center;
  font-size: 150%;
  color: white;
  font-weight: 300;
  height: 10%;
}
.nextButton{
  outline: 0;
  border-radius: 3px;
  width: 100%;
  font-size: 130%;
  height: 20% ;
  background: #030e26 !important;
  font-weight: 400;
  color: #FFD700 !important;
  text-align: center !important;
}
.step1Text{
  color:#030e26;
  font-size:100%;
  font-weight: 300;
}
.error-label {
  border: 1px solid #cc0000 !important;
}
.popup-buttons button {
  background-color:  #030E26 !important;
  font-weight: 500 !important;
  color: #FFD700 !important;
}
.popup {
  width: 90% !important;
}
.button-background {
  background: #030e26 !important;
  font-weight: 400;
  color: #FFD700 !important;
  text-align: center !important;
}
.rightAlign {
  float: right !important; }
.inputWidth {
  height: 20% !important;
  width: 44%;
  margin-right: 0 !important;
  padding-left: 10%;
}
.inputFieldCard {
  border-bottom: 2px solid !important;
  border-color: #030e26 !important;
  border-top-color: #ffffff !important;
  border-right-color: #ffffff !important;
  border-left-color: #ffffff !important;
  background-color: #ffffff;
}
.inputBorder{
  border-bottom:2px solid !important;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  color:#030e26 !important;
  background-color: #ffffff;
}
.buttonWidth {
  width: 30%;
  background-color: #030e26 !important;
  font-weight:500;
  color:#FFD700;
}
.boldText{
  color:#030e26;
  font-size:150%;
  font-weight: 600;
}
.cardText{
  color:#776D6D;
  font-size:130%;
  font-weight: 300 !important;
}

step2Text{
  color:#030e26;
  font-size:80%;
  font-weight: 300;

}

